.jumbotron{
  margin-bottom: 4em;
  height: 500px;
  background-color: #09c!important;
  font-family: -apple-system, 'avenir next', avenir, roboto, noto, ubuntu, 'helvetica neue', helvetica, arial, sans-serif;
}

.container{
    background-color: #09c!important;
}

.box1{
     background-color: #09c!important;
     height: 450px;
}
.person-wrappers{
 margin-bottom: 4em;
}
.img1{
   widows: 90px;
   height:auto;
   float: left;
  }
  .profile{
      float:right;
     
  }

  
.btn-primary{
  background-image:none;
  border-radius:0;
  background-color: #289207;
}

h1{
   color: #fff;
}
h3{
  margin-bottom: 1em;
}

.center{
   text-align: center;
}


