.header{
  margin-bottom: 4em;
  background-color: #000c!important;
  font-family: -apple-system, 'avenir next', avenir, roboto, noto, ubuntu, 'helvetica neue', helvetica, arial, sans-serif;
}
.img{
  margin-top: 30px;
  margin-bottom: 20px;
  width: 250px;
  height:200px;
}
.socialMedia {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding:20px ;
} 
 
a  {
  margin-left: 10px;
  
}


.btn-primary{
  background-image:none;
  border-radius:0;
  background-color: #289207;
}

h1{
   color: #fff;
}
h3{
  margin-bottom: 1em;
}

.center{
   text-align: center;
}

.post{
  margin-top:500px ;
}
@media screen and (max-width :780px){
  .aboutUs{
    grid-template-columns: 1fr;
  }

  
}
.personalProjects{
  background-color: black;
}
.socialMediaContainer{
  background: #eee;
  padding: 25px 50px;
  
}
SocialMediaIconsReact{
  margin: 5 1rem;
  transition: transform 250ms;
  display: inline-block;
}
